* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
}
body {
  height: 100%;
}
.wrapper {
  min-height:100%;
  display:flex;
  flex-direction: column;
}
.main {
  paddin: 30px;
  flex: 1 1 auto;
}
#canvas1 {
  border: 5px solid red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
}
/* #add {
  background: white;
} */
button:hover {
  background: linear-gradient(to right, red, pink);;
}

